# Rush uses this file to configure the NPM package registry during installation.  It is applicable
# to PNPM, NPM, and Yarn package managers.  It is used by operations such as "rush install",
# "rush update", and the "install-run.js" scripts.
#
# NOTE: The "rush publish" command uses .npmrc-publish instead.
#
# Before invoking the package manager, Rush will copy this file to the folder where installation
# is performed.  The copied file will omit any config lines that reference environment variables
# that are undefined in that session; this avoids problems that would otherwise result due to
# a missing variable being replaced by an empty string.
#
# * * * SECURITY WARNING * * *
#
# It is NOT recommended to store authentication tokens in a text file on a lab machine, because
# other unrelated processes may be able to read the file.  Also, the file may persist indefinitely,
# for example if the machine loses power.  A safer practice is to pass the token via an
# environment variable, which can be referenced from .npmrc using ${} expansion.  For example:
#
#   //registry.npmjs.org/:_authToken=${NPM_AUTH_TOKEN}
#
registry=https://registry.npmjs.org/
always-auth=false

# Prevent usage of phantom dependencies in nucleus projects.
# https://pnpm.io/npmrc#public-hoist-pattern
public-hoist-pattern=[]

# Make sure all packages satisfy engines restrictions.
# https://pnpm.io/npmrc#engine-strict
engine-strict=true

# Minimize changes and churn in the lock file
# https://pnpm.io/npmrc#prefer-frozen-lockfile
prefer-frozen-lockfile=true

# Fail on missing or invalid peer dependencies
# https://pnpm.io/npmrc#strict-peer-dependencies
strict-peer-dependencies=true

# Make sure we use "workspace:{*,^,~}" as version specifier for workspace projects.
# https://pnpm.io/npmrc#save-workspace-protocol
save-workspace-protocol=rolling

# Make sure we use "~" as version specifier dependencies by default.
# https://pnpm.io/npmrc#save-prefix
save-prefix=~

# Prevent creation of command shim scripts to always use commands from packages.
# https://pnpm.io/npmrc#prefer-symlinked-executables
prefer-symlinked-executables=true
